:root {
    --bcw:white;
    --fcm:#ffa500;
}
*, ::before, ::after {
    /* border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:  Arial, sans-serif;
    font-size: 16px;
    background-color: white;
}
.header {
    position: sticky;
    top: 0;
    background-color: var(--bcw);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}
#navbar a {
    text-decoration: none;
    padding: 5px;
    background-color: var(--fcm);
    color: var(--bcw);
    border-radius: 10%;
}
#navbar ul {
    list-style: none;
    display: flex;
    padding: 5px 0;
    gap: 10px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vw;
    background-color: var(--fcm);
    text-align: center;
    justify-content: center;
}


h1 {
    font-size: 4rem;
    color: var(--bcw);
}

p {
    font-size: 2rem;
    color: var(--bcw);
}
span {
    font-size: 0.8rem;
}
h2{
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

footer {
    text-align: right;
    font-size: 0.8rem;

}
#allprojects {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.prj-groups {
    display: flex;
    min-width: 400px;
    max-width: 400px;
    aspect-ratio: 1;
    flex-direction: column;
    /* border: 2px solid blue; */
    justify-content:center ;
    gap: 20px;
}
.prj-groups * {
    display: flex;
    flex-direction: column;
}

#projects {
    /* height: 50vh; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}
.project-title a {
    font-size: 1.5rem;
    color: var(--fcm);
    text-decoration: none;
}

.project-title a:hover {
    color: var(--bcw);
    background-color: var(--fcm);
}

#contacts {
    height: 50vh;
    margin: 10px;
}

#contacts a {
    text-decoration: none;
    color: var(--fcm);
}

@media only screen and (max-width:600px) {
    
h1 {
    font-size: 2rem;
    color: var(--bcw);
}

p {
    font-size: 1rem;
    color: var(--bcw);
}
}
